:root{
    --color-dark: #262626;
    --color-primary: #d3ab55;
    --color-secondary: #bbb;
    --color-white: #fff;
    --font-dancingScript: 'Dancing Script', cursive;
    --font-josefinSans: 'Josefin Sans', sans-serif;
    --font-nunito: 'Nunito', sans-serif;
}




*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--color-dark);
}
