.hamburger-menu{
    width: 40px;
    height: 40px;
    position: fixed;
    top: 10%;
    right: 5%;
    z-index: 400;
}

.hamburger-menu .menu{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    transition: transform .5s;
    
}

.menu .menu-line{
    width: 100%;
    height: 4px;
    background-color: var(--color-primary);
    transition: all .5s .5s;
    transform-origin: right;
}



.logo{
    font-size: 50px;
    color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
    margin-right: 20px;
    border: 3px solid var(--color-primary);
    border-radius: 50%;
    text-decoration: none;
}

.main-name{
   font-family: var(--font-nunito);
   font-size: 50px;
   color: var(--color-secondary);
   font-weight: 300;
   letter-spacing: 2px;
   text-transform: uppercase;
}

.sub-name{
    font-family: var(--font-josefinSans);
    font-size: 18px;
    color: var(--color-secondary);
    text-align: center;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.main-heading{
font-family: var(--font-dancingScript);
font-size: 100px;
font-weight: 300;
color: var(--color-primary);
margin-bottom: 40px;
}

.sub-heading{
    font-family: var(--font-josefinSans);
    font-size: 60px;
    font-weight: 300;
    color: var(--color-secondary);
    margin-bottom: 80px;
    text-align: center;
}

.main-btn{
 width: 170px;
 height: 45px;
 font-family: var(--font-josefinSans);
 font-size: 14px;
 text-transform: uppercase;
 letter-spacing: 1px;
 color: var(--color-primary);
 cursor: pointer;
 background-color: transparent;
 border: 1px solid var(--color-primary);
 outline: none;
 transition: all .4s;
}

.main-btn:hover{
    background-color: var(--color-primary);
    color: var(--color-dark);
}

.gallery .card{
    width: 33.3333%;
    flex-wrap: wrap;
    height: 30vw;
    position: relative;
    overflow: hidden;
}

.gallery .card:hover .card-overlay{
    left: 0;
}

.gallery .card .card-overlay{
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(211,171,85, .6);
    color: var(--color-white);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: left .7s;

}

.gallery .card-img{
    width:100%;
    height:100%;
    object-fit: cover;
    opacity: 0.5;
}

.card-overlay .card-overlay-heading{
    font-family: var(--font-nunito);
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.card-overlay .card-overlay-paragraph {
    font-family: var(--font-josefinSans);
    font-size: 30px;
    margin-bottom: 30px;
    text-transform: capitalize;
}

.card-overlay .overlay-btn{
    width: 150px;
    height: 40px;
    color: var(--color-primary);
    background-color: var(--color-white);
    font-family: var(--font-josefinSans);
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 1px solid var(--color-primary);
    cursor: pointer;
    border-radius: 30px;
    outline: none;
}




