.checkbox:checked ~ .navbar-navigation .navbar-navigation-left{
    left: 0;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right{
    right: 0;
}


.checkbox:checked ~ .hamburger-menu .menu{
    transform: rotateZ(90deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-1{
    transform: rotateZ(-40deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-2{
    opacity: 0;
}

.checkbox:checked ~ .hamburger-menu .menu-line-3{
    transform: rotateZ(40deg);
}



.left-img{
    width: 50%;
    position: absolute;
    box-shadow: 0 15px 60px  rgba(0,0,0,.4) ;
    opacity: 0.7;
    border-radius: 10px;
}

.left-img-1{
    top: 15%;
    left: 15%;
    }
    
.left-img-2{
     top: 35%;
     left: 25%;
    }

.left-img-3{
     top: 55%;
     left: 35%;
    }

.navbar{
    position: relative;
    z-index: 200;
}

.navbar-navigation{
    display: flex;
}

.navbar-navigation-left{
    width: 50vw;
    height: 100vh;
    background-color: var(--color-dark);
    position: fixed;
    left: -50vw;
    transition: left .8s cubic-bezier(1, 0, 0, 1);
}

.navbar-navigation-right{
    width: 50vw;
    height: 100vh;
    background-color: #1f1d1d;
    position: fixed;
    right: -50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: right .8s cubic-bezier(1, 0, 0, 1);
}

.nav-list .nav-list-item{
 list-style: none;
}

.nav-list-item .nav-list-link{
    font-family: var(--font-dancingScript);
    text-decoration: none;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: var(--color-secondary);
    display: block;
    margin: 20px;
    text-align: center;
    transition: all .5s;
}

.nav-list-link:hover{
    color: var(--color-primary);
    letter-spacing: 4px;
}




.header{
    width:100%;
    height: 100vh;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(https://images.pexels.com/photos/3937468/pexels-photo-3937468.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) center no-repeat;
    background-size: cover;
}

.brand{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;

}

.header-banner{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-us{
    height: 90vh;
    display: flex;
    align-items: center;
}

.about-us .about-us-left{
    width: 40%;
    position: relative;
    left: -200px;
}

.about-us-left img{
    width: 100%;
    opacity: .7;
}

.about-us .about-us-right{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
    box-sizing: border-box;
}

.about-us-right .stars{
    margin: 30px 0px;
}

.about-us-right .stars .star{
    font-size: 15px;
    color: var(--color-primary);
    margin-left: 10px;
}

.about-us-right .description{
    font-family: var(--font-josefinSans);
    font-size: 25px;
    font-style: italic;
    color: var(--color-secondary);
    text-align: justify;
}

.about-us-right .description::first-letter{
    padding-left: 50px;
}


.gallery .cards-wrapper{
    display: flex;
    flex-wrap: wrap-reverse;
}

.footer{
    padding: 70px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer .footer-header{
    display: flex;
    align-items: center;
    margin-bottom: 70px;
}

.footer .social-media{
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-bottom: 70px;
}

.social-media .social-items{
    list-style: none;
}

.social-items .social-link{
    text-decoration: none;
    font-size: 50px;
    color: var(--color-secondary);
    transition: color .7s;
}

.social-link:hover{
    color: var(--color-primary);
}

.copyright{
    font-family: var(--font-josefinSans);
    font-size: 20px;
    color: var(--color-secondary);
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: capitalize;
}

