@import "base.css";
@import  "layout.css";
@import "components.css";


/* RESPONSIVE FOR NAVBAR */
@media(max-width:1300px){

    .left-img{
        width: 55%;
    }
}

@media(max-width:1000px){

    .left-img{
        width: 65%;
    }

    .left-img-1{
        left: 5%;
    }

    .left-img-2{
        left: 15%;

    }

    .left-img-3{
        left: 25%;
    }
}

@media(max-width:800px){

    .navbar-navigation-left{
        display: none;
    }

    .navbar-navigation-right{
        width: 100vw;
        right: -100vw;
    }
}

@media(max-width:600px){
    .nav-list-item .nav-list-link{
       font-size: 40px;
    }
}












/* RESPONSIVE  */

@media(max-width: 1600px){
    .main-heading{
        font-size: 80px;
    }

    .sub-heading{
        font-size: 50px;
        margin-bottom: 50px;
    }

    .about-us-right .description{
        font-size: 18px;
    }

}

@media(max-width: 1300px){
    .sub-heading{
        font-size: 40px;
        margin-bottom: 30px;
    }

    .about-us .about-us-left {
        left: -150px;
    }

    about-us .about-us-right{
        padding:0 50px;
    }
}

@media(max-width: 1000px){
    .logo{
        font-size: 50px;
        width: 90px;
        height: 90px;
    }

    .main-name{
        font-size: 40px;
    }

    .main-heading{
        font-size: 60px;
    }

    .sub-heading{
        font-size: 30px;
    }

    .stars{
        margin: 15px 0;
    }

    .star{
        font-size: 12px;
    }

    .about-us-right .description{
        font-size: 14px;
    }

    .social-items .social-link{
        font-size: 35px;
    }

}

@media(max-width: 900px){

    .about-us{
        height: 70vh;
    }
    
    .card-overlay .card-overlay-heading{
    font-size: 35px;
    }

    .card-overlay .card-overlay-paragraph{
        font-size: 20px;
    }

    .card-overlay .overlay-btn{
        font-size: 12px;
        width: 130px;
        height: 30px;
    }

}

@media(max-width: 800px){

    .hamburger-menu{
        width: 35px;
        height: 35px;
    }


    .menu .menu-line{
        height: 2px;
    }

    .main-btn{
        width: 150px;
        height: 35px;
        font-size: 12px;
    }

    .about-us .about-us-left{
        display: none;
    }

    .about-us .about-us-right{
        width: 100%;
    }

    .copyright{
        width: 100%;
        margin: auto;
        text-align: center;
    }


}

@media(max-width: 650px){

    .card-overlay .card-overlay-heading{
        font-size: 25px;
    }

    card-overlay .card-overlay-paragraph{
        font-size: 15px;
    }

    .card-overlay .overlay-btn{
        font-size: 10px;
        width: 100px;
        height: 30px;
    }
}


@media(max-width: 500px){
    .hamburger-menu{
        width: 25px;
        height: 25px;
    }

    .menu .menu-line{
        height: 2px;
    }

    .logo{
        height: 50px;
        width: 50px;
        font-size: 30px;
        margin-right: 10px;
        border-width: 2px;
    }

    .main-name{
        font-size: 20px;
        text-align: center;
    }
    
    .sub-name{
        font-size: 12px;
        text-align: center;
    }

    .brand{
        font-size: 12px;
        text-align: center;
    }

    .main-heading{
        font-size: 40px;
        margin-bottom: 20px;
    }

    .sub-heading{
        font-size: 20px;
        margin-bottom: 10px;

    }

    .main-btn{
        width: 130px;
        height: 30px;
        font-size: 10px;
    }

    .about-us-right .description{
        font-size: 12px;
    }

    .card-overlay .card-overlay-heading{
        display: none;
    }

    card-overlay .card-overlay-paragraph{
        display: none;
    }

    .footer{
        padding: 40px 0;
    }

    .footer .social-media{
        width: 200px;
        margin-bottom: 40px;
    }

    .social-items .social-link{
        font-size: 25px;
    }

    .copyright{
        font-size: 14px;
    }
}


